{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/state-in-constructor": [2, "never"],
    "import/no-unresolved": 0,
    "camelcase": ["error", { "allow": ["avg_spawns", "spawn_chance", "spawn_time"] }]
  }
}
