.carousel {
  width: 100%;
}

.image-slide-container {
  display: flex;
  justify-content: center;
  min-height: 167px;
}

.image-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}
