// colors
$white: #ffffff;
$grey: #e6e6e6;
$black: #000000;
// type of pokemon
$psychic: #ffc0cb;
$fighting: #bc8f8f;
$electric: #ffc107;
$ground: #a0522d;
$fire: #fa8072;
$dragon: #8b0000;
$bug: #808000;
$grass: #28a745;
$ice: #7fffd4;
$water: #17a2b8;
$flying: #007bff;
$poison: #563d7c;
$normal: #2f4f4f;
$ghost: #d3d3d3;
$rock: #6c757d;
